.root {
    margin-bottom: 30px;
    li{
        display: inline-block;  
    }
    a {
        color: #fe4f1e;
        display: inline-block;
        text-align: center;
        width: 45px;
        height: 45px;
        line-height: 42px;
        border: 1px solid #fe4f1e;
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
        &:hover {
            background-color: #fe4f1e;
            color: #fff;
        }
    }
}

:global {
    .selected {
       a {
        background-color: #fe4f1e;
        color: #fff;
       }
    }
}

@media(max-width: 480px) {
    .root{
        a{
            width: 36px;
            height: 36px;
            line-height: 34px;
        }
    }
}

@media(max-width:380px) {
    .root{
        a{
            width: 30px;
            height: 30px;
            line-height: 30px;
        }
    }
}