.skills {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 22px;
}

.title {
    font-size: 24px;
    line-height: 22px;
    margin: 26px 0;
}

.me {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 220px;
    height: 260px;
    object-fit: cover;
    position: relative;
}

.text {
    font-size: 17px;
    margin: 0 0 10px 0;
}

.feedback,
.projects {
    flex-direction: column;
}

.slider {
    margin-bottom: 14px;
}

.slide {
    width: 80px;
    height: 80px;
    margin-right: 90px;
}

.links {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.link {
    display: table-row;
    color: revert;
    font-size: 14px;
    line-height: 18px;
}

.projectText {
    text-align: center;
}

@media (max-width: 720px) {
    .me {
        flex-direction: column;
        align-items: flex-start;
    }

    .photo {
        width: 220px;
        height: 260px;
        object-fit: cover;
        margin-bottom: 20px;
        order: -1;
        z-index: -1;
    }
    .title {
        margin-top: 60px;
    }
}

@media (max-width: 460px) {
    .title {
        font-size: 22px;
    }
    .link {
        display: table-row;
        color: revert;
        font-size: 12px;
        line-height: 16px;
    }
}
