.search{
    width: 260px;
    margin: 50px 0;
}

.content{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #fe4f1e;
    border-radius: 33px;
    padding: 10px;
}

.picture{
    width: 260px;
    height: 260px;
    border-radius: 33px;
}

.textContent{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    width: 540px;
    height: auto;
    justify-content: space-between;
    
}

.name{
    font-weight: bold;
    font-size: 32px;
}

.text{
    font-size: 22px;
    font-weight: light;
}

.mainInfo{
    width: 540px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}