* {
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

a,
ul,
li,
ol {
    text-decoration: none;
    list-style: none;
    color: unset;
    margin: 0;
    padding: 0;
}
