.bg {
    width: 100%;
    height: 30px;
    background-color: #fe4f1e;
}

.header {
    width: 100%;
    height: auto;

    .logo{
        cursor: pointer;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 11px 0;
    }

    .menu {
        width: 341px;
        height: 32px;
    }

    .list {
        display: flex;
        justify-content: space-between;
    }

    .item {
        width: auto;
    }

    .link {
        font-size: 26px;
        text-transform: capitalize;
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        font-family: Inkfree;
        color: #000;
        transition: all .3s;
        &:hover{
            color: #fe4f1e;
            transition: all .3s;
        }
        span{
            color: #fe4f1e;
        }
    }
}
