.header {
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: #fe4f1e;
    height: auto;
    z-index: 10;
}

.headerContetn {
    display: flex;
    align-items: center;
}

.logo {
    cursor: pointer;
    width: 180px;
    height: auto;
}

.mobileLogo {
    display: none;
    z-index: -1;
    width: 44px;
    height: 44px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 340px;
    height: 32px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.link {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 26px;
    text-align: center;
    font-family: Inkfree;
    color: #fff;
    transition: all 0.3s;
    &:hover {
        color: #f5fc70;
        transition: all 0.3s;
    }
}

.link.active {
    color: #f5fc70;
}

.mobMenu {
    display: none;
}

@media (max-width: 720px) {
    .header{
        top: 0;
        position: fixed;
    }
    .logo {
        display: none;
    }
    .mobileLogo {
        display: block;
        position: static;
    }
    .mainLogo{
        z-index: 10;
    }
    .menu {
        display: none;
    }
    .mobMenu {
        display: block;
    }
}

@media (max-width: 480px) {
    .menu {
        width: 260px;
        height: auto;
    }

    .link {
        font-size: 22px !important;
    }
}

@media (max-width: 380px) {
    .menu {
        width: 200px;
        height: auto;
    }

    .link {
        font-size: 18px !important;
    }
}
