
.bg {
    width: 100%;
    height: 362px;
    position: absolute;
    opacity: 0.7;
    z-index: 3;
}

.swiper{
    width: 100%;
    height: 362px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../assets//jpg/billboard.jpg");
    text-align: center;
}

.excerpt{
    position: absolute;
    top: calc(50% + -60px);
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    z-index: 5;
    color: #fff;   
}

.quote, .author{
    color: #fff;
    font-style: italic;
    font-weight: 100;
    font-size: 20px;
}

.quote{
    padding: 0 20px;
}

.author{
    font-size: 16px;
}

.sliderSearch{
    position: absolute;
    top: 60%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    max-width: 400px;
    z-index: 5;
}



.slider {
    text-align: left;
    &__bg {
        width: 100%;
        height: 362px;
        position: relative;
        background-color: #000;
        z-index: 3;
    }

    &__img {
        width: 100%;
        height: 362px;
        object-fit: cover;
        position: absolute;
    }
}

@media(max-width: 680px) {
    .quote, .author{
        font-size: 18px;
    }
    .author{
        font-size: 16px;
    }
}

@media(max-width: 420px) {
    .quote, .author{
        font-size: 16px;
    }
    .author{
        font-size: 14px;
    }
}

@media(max-width: 320px) {
    .quote, .author{
        font-size: 14px;
    }
    .author{
        font-size: 12px;
    }
}