.mainSearch {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    margin: 0 auto; 

    .searchInput{
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 12px;
        left: 12px;
    }

    .searchAttribute {
        color: #fff;
    }

    .searchBtn {
        text-transform: uppercase;
        background-color: transparent;
        border: none;
        width: 150px;
        color: #fff;
        display: inline-block;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
            .searchAttribute {
                transition: all 0.3s;
                color: #fe4f1e;
            }
        }
    }

    .input {
        width: 100%;
        height: 45px;
        border-radius: 33px;
        background-color: transparent;
        border: 2px solid #fe4f1e;
        padding: 0 34px;
        position: relative;
    }

    .input:focus {
        outline: none;
    }
    .input::placeholder {
        color: inherit;
        // padding: 0 20px;
    }
}

@media (max-width: 680px) {
    .search {
        .input {
            width: 100%;
        }
    }
}
