.search {
    position: relative;
    min-width: 258px;
    height: auto;
    bottom: 15px;
    margin: 0 auto;
    padding: 0 15px;
    z-index: 1;
    left: -26px;
    margin-top: 20px;
    display: flex;

    .searchBtn{
        background-color: transparent;
        border: none;
        width: 100px;
        color: #fff;
        display: inline-block;
        position: relative;
        cursor: pointer;
        &::after{
            content: "";
            position: absolute;
            width: 60px;
            height: 2px;
            right: 8px;
            bottom: 6px;
            background-color: #fff;
        }
    }

    .input {
        width: 100%;
        height: 45px;
        border-radius: 33px;
        background-color: transparent;
        border: 2px solid #FFDB63;
        color: #fff;
        padding: 0 15px;
    }

    .input:focus {outline: none;}
    .input::placeholder{
        color: #ffffff;
        padding: 0 15px;
    }

}


@media (max-width: 680px) {
    .search {
     .input{
        width: 100%;
     }
    }
}

