.title {
    font-weight: 400;
    font-size: 38px;
    color: #000;
    font-family: Inkfree;
}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width: 880px){
    .content{
        // justify-content: center;
    }
}   

@media(max-width: 480px){
    .title{
        font-size: 28px;
    } 
}